.wrapper
{
}

.adminMenuArea
{
    width: 35%;
    margin: 8% auto 3%;
    border: 2px solid darkgray;
}

.adminMenuList
{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0px;
}

.adminMenuList > li
{
    margin-left: 30px;
    margin-right: 30px;

}

.adminMenuList > li > a
{
    font-family: 나눔고딕;
    font-weight: bold;
    font-size: 15pt;
    color: black;
}

.adminMenuContentArea
{
    margin: 0 auto 3%;
    width: 70%;
}

.adminMenuContent
{

}