button
{
    border: none;
    color: white;
    background-color: darkred;
    font-family: 나눔고딕;
    font-weight: bold;
    cursor: pointer;

    box-shadow: 2px 2px 2px darkgray;
}

button:active
{
    color: bisque;
    box-shadow: none;
}

label
{
    user-select: none;
}

.deleteFromCart
{
    background-color: white;
    color: darkred;
    box-shadow: none;
    font-size: 12pt;
    float: right;
}

.deleteFromCart:active
{
    color: darkred;
}

.cartArea
{
    margin-top: 5%;
    margin-left: 15%;
    width: 70%;
    height: 700px;
}

.menuTitle
{
    margin-left: 20%;
    margin-top: 5%;
    width:60%;
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 17pt;
    font-family: 나눔고딕;
    font-weight: bold;
}

.menuTitle > i
{
    font-size: 17pt;
    margin-right: 10px;
}

.cartListArea
{
    margin-left: 20%;
    padding-bottom: 2%;
    padding-top: 1%;
    width: 60%;
    font-family: 나눔고딕;
    font-weight: bold;
    border-top: 2px solid darkred;
    border-bottom: 2px solid darkred;
}

.noItem
{
    text-align: center;
    margin-top: 30px;
    font-size: 20pt;
}

.itemInCart
{
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid darkgray;
}

.thumbnailArea
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.thumbnailBox
{
    width: 150px;
    height: 150px;
    background-color: darkgray;
    overflow: hidden;
}

.thumbnail
{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.itemInfo
{
    display: flex;
    justify-content: flex-start;
}

.thumbnailArea
{
    margin-right: 30px;
}

.itemNameAndPrice
{
    width: 45%;
    font-size: 15pt;
}

.itemName
{
    margin-bottom: 5%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.itemPrice
{
    color: gray;
    font-size: 11pt;
    margin-bottom: 5%;
}

.orderQuantityInputArea > span
{
    font-size: 12pt;
    margin-right: 20px;
}

.orderQuantityInputArea > button
{
    width: 20px;
    height: 20px;
}

.orderQuantityInputArea > input
{
    width: 60px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.totalPriceArea
{
    display: flex;
    align-items: end;
}

.totalPriceText
{
    width: 130px;
    text-align: right;
}


.totalPrice
{
    margin-right: 15px;
    margin-left: 15px;
    font-size: 15pt;
    text-align: right;
    color: orange;
}

.cartBtnArea
{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 2px solid darkgray;
    align-items: center;
}

.cartBtnArea > button
{
    width: 90px;
    height: 30px;
    border-radius: 5px;
}

.cartTotalPriceArea
{
    margin-top: 3%;
}

#cartTotalPrice
{
    margin-right: 15px;
    margin-left: 15px;
    font-size: 15pt;
    text-align: right;
    color: orange;
}

.cartTotalPriceArea > button
{
    margin-left: 30px;
    width: 90px;
    height: 30px;
    border-radius: 5px;
}