a
{
    text-decoration: none;
    text-decoration-color: inherit;
    text-decoration-line: none; /* 하이퍼링크 밑줄 없애기 */
}

.itemDetailArea
{
    margin-left: 15%;
    margin-top: 5%;
    width: 70%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.itemSummaryArea
{
    display: flex;
    justify-content: left;
    margin-left: 15%;
}

.itemImage
{
    width: 400px;
    height: 500px;
}
.itemImage > img
{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.itemSummary
{
    width: 30%;
    margin-left: 15%;
}

.itemName
{
    font-family: 나눔고딕;
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.itemPrice
{
    font-family: 나눔고딕;
    font-size: 15pt;
    font-weight: bold;
}

.itemInfoArea
{
    margin-top: 15px;
    border-top: 2px solid darkred;
    border-bottom: 2px solid darkred;
    padding-top: 30px;
}

.itemInfo > div
{
    display: flex;
    justify-content: left;
}

.infoType
{
    font-family: 나눔고딕;
    font-size: 11pt;
    font-weight: bold;
    color: darkred;
    margin-right: 30px;
    margin-bottom: 15px;
    width: 50px;
    height: 30px;
}

.infoContent
{
    font-family: 나눔고딕;
    font-size: 11pt;
    font-weight: bold;
    color: gray;
    width: 80%;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#orderQuantityInput > input
{
    width: 60px;
    text-align: center;
}

.priceAndOrderArea
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30%;
}

.totalPriceArea
{
    display: flex;
    justify-content: left;
    font-family: 나눔고딕;
    font-size: 17pt;
    font-weight: bold;
    margin-bottom: 30px;
}

#totalPriceText
{
    width: 130px;
}

#totalPrice
{
    text-align: right;
    color: orange;
    width: 70%;
    margin-right: 5px;
}

.priceAndOrderArea > button
{
    height: 50px;
    margin-bottom: 20px;
    font-family: 나눔고딕;
    font-size: 14pt;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px darkgray;
}

#orderBtn
{
    background-color: darkred;
}
#cartBtn
{
    background-color: darkgray;
}

#orderBtn:active, #cartBtn:active
{
    color: bisque;
    box-shadow: none;
}

.itemDetailNav
{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid darkred;

    /*더블클릭 파란색 블럭 방지*/
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.itemDetailNav > a
{
    margin-left: 10%;
    margin-right: 10%;
    font-family: 나눔고딕;
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    color: black;
}

.itemDetailContentArea
{
    padding-top: 5%;
    padding-bottom: 10%;
}

.itemDetailContentArea > p > img
{
    display: block;
    margin: 0 auto;
}

.reviewArea, .inquiryArea
{
    padding-top: 2%;
    padding-bottom: 10%;
}

#reviewGuide
{
    font-family: 나눔고딕;
    font-size: 10pt;
    font-weight: bold;
    color: darkred;
    cursor: default;
}

.reviewListArea
{
    margin-top: 15px;
}

Table
{
    width: 100%;
    font-family: 나눔고딕;
    border: 2px solid black;
    border-spacing: 0px;
    border-collapse: collapse;
    padding-left: 10px;
}

tr
{
    text-align: center;
}

.tableHead
{
    height: 30px;
}

th
{
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    background-color: darkred;
    color: white;
}

td
{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 11pt;
    font-weight: bold;
    color: black;
    height: 30px;
}

#inquiryBtn
{
    width: 80px;
    height: 25px;
    margin-right: 5px;
    margin-bottom: 15px;
    font-family: 나눔고딕;
    font-weight: bold;
    background-color: darkred;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px darkgray;
    float: right;
}
#inquiryBtn:active
{
    color: bisque;
    box-shadow: none;
}

.inquiryInfo, .reviewTitle
{
    user-select: none;
}

.inquiryInfo:hover, .reviewTitle:hover
{
    cursor: pointer;
    background-color: lightgrey;
}

.inquiryDetail, .reviewContent
{
    text-align: left;
}

.inquiryContentArea
{
    margin : 15px;

    border: 2px solid darkgray;
}

.inquiryDetailTitle
{
    padding : 10px;
    border-bottom: 2px solid darkgray;
    color: white;
    background-color: darkgray;
}

.inquiryContent, .inquiryAnswer
{
    font-family: 나눔고딕;
    font-size: 11pt;
    font-weight: normal;
    padding : 10px;
}

.reviewImageArea
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.reviewImageList
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.reviewImage
{
    width: 600px;
    height: 500px;
}

.reviewImg
{
    width: 100%;
    height: 100%;
    object-fit: fill;
    cursor: pointer;
}

.modalArea
{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.modal
{
    position: fixed;
    background-color: white;
    top: 30%;
    left: 40%;
    width: 500px;
    height: 430px;
    font-family: 나눔고딕;
    color: black;
    border: 2px solid black;
}

.modal-title
{
    height: 40px;
    font-size: 17pt;
    font-weight: bold;
    background-color: darkred;
    color: white;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title > span
{
    margin-left: 15px;
}

.modal-title > button
{
    background-color: darkred;
    border: none;
    font-size: 14pt;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.inquiryTitleInputArea
{
    padding-bottom: 10px;
    border-bottom: 2px solid darkred;
}

.inquiryTitleInputArea, .inquiryContentInputArea
{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding-left: 15px;
}

.inquiryTitleInputArea > span, .inquiryContentInputArea > span
{
    font-weight: bold;
    font-size: 15pt;
    margin-bottom: 5px;
}

#inquiryTitleInput, #inquiryContentInput
{
    width: 95%;
    padding-left: 5px;
    outline: none;
    font-size: 11pt;
}

#inquiryTitleInput
{
    height: 40px;
}

#inquiryContentInput
{
    height: 160px;
    padding-top: 10px;
    resize: none;
}

.modal-btnArea
{
    display: flex;
    justify-content: center;
}

.modal-btnArea > button
{
    width: 100px;
    height: 25px;
    font-family: 나눔고딕;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 2px darkgray;
}

#inquirySubmitBtn
{
    background-color: darkred;
    margin-right: 30px;
}

#inquiryCancelBtn
{
    background-color: darkgray;
}

#inquirySubmitBtn:active, #inquiryCancelBtn:active
{
    box-shadow: none;
    color: bisque;
}