button
{
    border: none;
    color: white;
    background-color: darkred;
    font-family: 나눔고딕;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 2px darkgray;
}

button:hover
{
    color: bisque;
}

button:active
{
    box-shadow: none;
}

.loginFormArea
{
    margin-top: 5%;
    margin-left: 20%;
    width: 1600px;
    height: 700px;
}

.menuTitle
{
    margin-left: 20%;
    margin-top: 5%;
    width:60%;
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 17pt;
    font-family: 나눔고딕;
    font-weight: bold;
}

.menuTitle > i
{
    margin-right: 10px;
}

.inputArea
{
    margin-left: 20%;
    margin-top: 6%;
    width:60%;
    font-size: 13pt;
    font-family: 나눔고딕;
    font-weight: bold;
}

.inputArea > div
{
    margin-bottom: 30px;
    padding-left: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 800px;
    height: 25px;
}

.inputArea > div > div
{
    width: 120px;
}

.inputArea > div > input
{
    width:200px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    height: 25px;
}

form
{
    margin-left: 20%;
    padding-bottom: 3%;
    width: 60%;
    border-top: 2px solid darkred;
    border-bottom: 2px solid darkred;
}

#loginBtn
{
    margin-left: 40px;
    width: 120px;
    height: 50px;
    margin-bottom: 7%;
}