button
{
    border: none;
    color: white;
    background-color: darkred;
    font-family: 나눔고딕;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 2px darkgray;
}

button:active
{
    color: bisque;
    box-shadow: none;
}

.orderFormArea
{
    margin-top: 5%;
    margin-left: 15%;
    width: 70%;
    height: 700px;
}

.menuTitle
{
    margin-left: 20%;
    margin-top: 5%;
    width:60%;
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 17pt;
    font-family: 나눔고딕;
    font-weight: bold;
}

.menuTitle > i
{
    margin-right: 10px;
    font-size: 17pt;
}

.orderForm
{
    margin-left: 20%;
    margin-top: 1%;
    margin-bottom: 5%;
    padding-left: 3%;
    width: 60%;
    font-family: 나눔고딕;
    border-top: 2px solid darkred;
    border-bottom: 2px solid darkred;
}

form > div
{
    margin-top: 5%;
    margin-bottom: 8%;
}

.infoType
{
    font-family: 나눔고딕;
    font-size: 15pt;
    font-weight: bold;
}

Table
{
    margin-top: 20px;
    width: 90%;
    font-family: 나눔고딕;
    border: 2px solid black;
    border-spacing: 0px;
    border-collapse: collapse;
}

th, td
{
    padding-left: 10px;
    height: 60px;
    border:1px solid black;
}

th
{
    border-right: 2px solid black;
    background-color: darkred;
    color: white;
    width: 20%;
}

td
{
    font-size: 11pt;
    font-weight: bold;
    color: black;
}

.buyInfoTableTh
{
    height: 30px;
    text-align: center;
}

.buyInfoTableTd
{
    height: 30px;
    text-align: center;
}

#buyQuantity
{
    width: 3%;
}
#buyPrice
{
    width: 5%;
}

td > input[type='radio']
{
    margin-right: 5px;
    height: 12px;
    width: 12px;
}

td > label
{
    margin-right: 25px;
    user-select: none;
}

#addressChangeBtn
{
    height: 25px;
    border-radius: 5px;
    margin-right: 10%;
    float: right;
}

.paymentMethodDetail
{
    display: none;
    padding-top: 15px;
    padding-left: 5%;
    border: 2px solid lightgrey;
    width: 90%;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    user-select: none;
}

#simpleDepositDetail
{
    margin-top: 15px;
}

#simpleDepositDetail > span
{
    color: darkred;
    font-size: 10pt;
    margin-left: 15px;
}

select
{
    margin-left: 10px;
    border: 2px solid lightgrey;
    height: 40px;
    font-family: 나눔고딕;
    font-size: 10pt;
    font-weight: bold;
}

.orderBtnArea
{
    text-align: center;
}

.orderBtnArea > button
{
    height: 30px;
    width: 200px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 3px;
}

#orderCancelBtn
{
    background-color: darkgray;
    margin-right: 120px;
}
