<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!--<typeAlias alias="사용할 이름" type="객체 경로"/>-->
        <typeAlias alias="userDTO" type="com.anitomo.dto.UserDTO"/>
        <typeAlias alias="itemDTO" type="com.anitomo.dto.ItemDTO"/>
        <typeAlias alias="cartDTO" type="com.anitomo.dto.CartDTO"/>
        <typeAlias alias="inquiryDTO" type="com.anitomo.dto.InquiryDTO"/>
        <typeAlias alias="addressDTO" type="com.anitomo.dto.AddressDTO"/>
        <typeAlias alias="orderDTO" type="com.anitomo.dto.OrderDTO"/>
        <typeAlias alias="reviewDTO" type="com.anitomo.dto.ReviewDTO"/>
        <typeAlias alias="makerDTO" type="com.anitomo.dto.MakerDTO"/>
        <typeAlias alias="seriesDTO" type="com.anitomo.dto.SeriesDTO"/>
        <typeAlias alias="itemTypeDTO" type="com.anitomo.dto.ItemTypeDTO"/>
        <typeAlias alias="imageDTo" type="com.anitomo.dto.ImageDTO"/>
    </typeAliases>
</configuration>